@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="container">
    <div class="row mt">
        <div class="col-lg-4 col-lg-offset-4 centered">
            <h3>Honest Testimonials</h3>
            <hr>
        </div>
    </div>

    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <h2>Really good website for self learning purposes. I recommend this education platform for everyone who is interested in making your brains larger.</h2>
                        <h5>Taylor Swift - The Singer</h5>
                    </div>
                    <div class="item">
                        <h2>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h2>
                        <h5>Travis Scott - ASAP Rocky</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="black">
    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-3">
                <p><i class="fas fa-user-graduate"></i></p>
                <h1>1.000</h1>
                <hr>
                <h4>Happy Students</h4>
            </div>
            <div class="col-lg-3">
                <p><i class="fas fa-laptop-code"></i></p>
                <h1>100</h1>
                <hr>
                <h4>Useful Courses</h4>
            </div>
            <div class="col-lg-3">
                <p><i class="fa fa-trophy"></i></p>
                <h1>10</h1>
                <hr>
                <h4>Awards Earned</h4>
            </div>
            <div class="col-lg-3">
                <p><i class="fas fa-university"></i></p>
                <h1>1</h1>
                <hr>
                <h4>Education platform</h4>
            </div>
        </div>
    </div>
</div>